.invalid { 
    border: 2px solid red;
}

.hide {
    visibility: none;
}
.valid {
    box-shadow: 1px greenyellow;
}
.radio {
    display: contents;
    border: 2px solid red;
    background-color: #ccc;
    padding: 10px;
    width: 200px;
  }